﻿@model ColoursOfDance.Models.LoginModel

@{
    ViewBag.Title = "Autentificare";
}

<hgroup class="title">
    <h2>@ViewBag.Titles</h2>
</hgroup>

<br />
<br />
<section id="loginForm">
 @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-2" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
        <input type="submit" value="Autentificare" class="btn btn-success form-group" />
     <p>
        @Html.ActionLink("Inregistreaza-te", "Register", "Account") daca nu ai un cont.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
