﻿@model ColoursOfDance.Models.RegisterModel
@{
    ViewBag.Title = "Inregistreaza-te";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label col-sm-2" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-2" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-sm-2" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        <input type="submit" value="Register" class="btn btn-success" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
