﻿@model ColoursOfDance.Models.SendEmailViewModel

@{
    ViewBag.Title = "SendEmail";
}

<h2>SendEmail</h2>

@using(Html.BeginForm("SendEmail","Account",FormMethod.Post,new { role="form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "test-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class="col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class="text-danger"})
            </div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" ></div>
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </div>
    
}