﻿
#homePage {
    background-image: url('../Images/bg.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
}

.jumbotron {
    min-height:500px;
}

.btn{
    margin-left: 20px;
}

.navbar-nav li {
    line-height:70px;
}