﻿.navbar{
    background-color:seashell;
    border-color:seashell;
}

.navbar-brand {
    padding: 0px;
    stroke:none;
}
.navbar-brand img{
    height:80px;
}

.navbar li a{
    line-height:50px;
}

.sidebar-brand{
    text-align:center;
    color:white;
    font-size:25px;
}

#sidebar-wrapper{
    background-color: forestgreen;
}