﻿


<div id="aboutPage" class="jumbotron" style="background-image: url(../Content/Images/bg_despre.jpg); background-size: 100% auto; background-repeat: no-repeat">
    
    <div id="prezentare" style="width: 200px; height:500px; position:relative; float:left">
        <p id="prezentare" style="margin-top: 100px; width: 200px; word-wrap: break-word; font-size: 16px">
            Aplicația este orientată în două direcții,
            pe de-o parte reprezintă un mijloc de informare a cursanților
            cu informații de actualitate privind facilitățile oferite de
            școala de dans, iar pe de altă parte contribuie la simplificarea
            gestiunii unui volum mare de date satisfăcând o mare parte din
            nevoile furnizorilor de servicii din domeniul dansului.
        </p>
    </div>
    <div id="beneficii"  style=" width:200px; height:500px; position:relative; float:right" >
        <p id="beneficii" style="margin-top:10px; width: 200px; word-wrap: break-word; font-size: 16px">Aplicația eficientizează procesul de informare a clienților cu privire la modificările survenite privind prestarea serviciilor în domeniul dansului, asigură disponibilizarea informațiilor de actualitate în timp foarte scurt și pastrează evidențe ale persoanelor înscrise la cursurile de dans disponibile.</p>
    </div>
</div>