﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Academia de Studii Economice<br />
    Facultatea de Cibernetică, Statistică şi Informatică Economică<br />
</address>

<address>
    <strong>Suport:</strong>   <a href="mailto:SimonaScarlat6@gmail.com">SimonaScarlat6@gmail.com</a><br />
</address>