﻿@{
    ViewBag.Title = "Meniu";
}

<h2>Gestiunea scolii de dans "Colours of Dance"</h2>

<div>

    <div class="categories_layout">
        <input class="categories_btn" type="submit" value="" onclick="location.href='@Url.Action("Index", "Category" )'" />
        <p id="menu_section_text">Gestiune categorii</p>
        <p id="menu_section_description_text">Puteti adauga, sterge sau edita categoriile corespondente anumitor stiluri de dans.</p>
    </div>

    <div class="courses_layout" onclick="location.href='@Url.Action("Index", "Course" )'">
        <input class="courses_btn" type="submit" value="" />
        <p id="menu_section_text">Gestiune cursuri</p>
        <p id="menu_section_description_text">Puteti adauga, sterge sau edita cursurile puse la dispozitia de scoala de dans "Colours of dance"</p>
    </div>

    <div class="students_layout" onclick="location.href='@Url.Action("Index","Student")'">
        <input class="students_btn" type="submit" value="" />
        <p id="menu_section_text">Gestiune cursanti</p>
        <p id="menu_section_description_text">Puteti adauga, sterge sau edita cursantii ce beneficiaza de serviciile puse la dispozitie de scoala de dans "Colours of dance"</p>
    </div>

    <div class="events_layout">
        <input class="events_btn" type="submit" value="" onclick="location.href='@Url.Action("Index", "Event" )'" />
        <p id="menu_section_text">Gestiune evenimente</p>
        <p id="menu_section_description_text">Puteti adauga evenimente ce se desfasoara in perioada apropiata</p>
    </div>

    <div class="newsletter_layout">
        <input class="newsletter_btn" type="submit" value="" onclick="location.href='@Url.Action("SendEmail", "Newsletter" )'" />
        <p id="menu_section_text">Trimite newsletter</p>
        <p id="menu_section_description_text">Puteti trimite newsletter tuturor cursantilor inscrisi privind evenimentele ce se desfasoara in perioada apropiata</p>
    </div>
</div>
