﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
}

.multiselect-container{
    width:175px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}



.categories_layout
{
    background-color:#e2eaf5; 
   width: 200px; 
   height: 350px; 
    -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
   margin-left:15px;
   position:relative;
   float:left;
   margin-top:40px;
   
}

.courses_layout
{
   width: 200px; 
   height: 350px; 
   background-color:#e2eaf5; 
   margin-left:15px;
   margin-top:40px;
   position:relative;
   float:left;
     -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
}

.students_layout
{
    width: 200px; 
   height: 350px; 
   background-color:#e2eaf5; 
   margin-left:15px;
   margin-top:40px;
   position:relative;
   float:left;
    -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
}

.events_layout
{
   width: 200px; 
   height: 350px; 
    background-color:#e2eaf5; 
   margin-left:15px;
   margin-top:40px;
   position:relative;
   float:left;
  
    -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
}

.newsletter_layout
{
   width: 200px; 
   height: 350px; 
   background-color:#e2eaf5;
   margin-left:15px;
  margin-top:40px;
   position:relative;
   float:left;

    -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);

}

#menu_section_text
{
    color: grey;
    margin-top:50px;
    text-align:center;
}

#menu_section_description_text
{
    color: grey;
    text-align:center;
    margin-top:20px;
    opacity:0.6;
}

.categories_btn
{
    background:url(../Content/Images/category_icon.png);
    background-repeat:no-repeat;
    align-content:center;
    margin-top:40px;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}

.newsletter_btn
{
    background:url(../Content/Images/newsletter_icon.png);
    background-repeat:no-repeat;
    align-content:center;
    margin-top:40px;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}

.events_btn
{
    background:url(../Content/Images/events_icon.png);
    background-repeat:no-repeat;
    align-content:center;
    margin-top:40px;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}

.courses_btn
{
    background:url(../Content/Images/courses_icon.png);
    background-repeat:no-repeat;
    align-content:center;
    margin-top:40px;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}

.students_btn
{
    background:url(../Content/Images/students_icon.png);
    background-repeat:no-repeat;
    align-content:center;
    margin-top:40px;
    border:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    height:100px;
}
h2
{
    font-family:'Script MT';
}

.edit_course_section_layout
{

    background-color:#e2eaf5;
    width:300px;
    height:450px;
  
    border-radius: 25px;
    -webkit-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    -moz-box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    box-shadow: 2px 3px 15px -2px rgba(168,183,240,0.86);
    margin-left:300px;
    padding:5px;
}

.category_box_section
{
    background:#c4e2e2;
    width: 300px;
    height:350px;
    margin-left:370px;
    border-radius: 25px;
    -webkit-box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);
    -moz-box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);
    box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);

}



.courses_box_section
{
    background:#c4e2e2;
    width: 460px;
    height:400px;
    margin-left:370px;
    border-radius: 25px;
    -webkit-box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);
    -moz-box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);
    box-shadow: -2px -4px 122px -13px rgba(137,141,143,1);

}

.editor-label
{
    margin-left: 30px;
    color:grey;
}

.editor-field
{
    margin-left: 30px;
}
.edit_bg
{
    background-image: url(../Content/Images/add_category_bg.jpg); 
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    height:500px;
    
}


