﻿@model ColoursOfDance.Models.Categories


    @{
        ViewBag.Title = "Adaugare categorie";
    }


<div style="background-image: url(../Content/Images/add_category_bg.jpg); background-size: 100% auto; background-repeat: no-repeat; height:500px">
    <br />
    <h2 style="margin-left: 100px;  color:white">Adaugare categorie</h2>


    <div class="category_box_section">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>

                <br />
                <div class="editor-label" style="margin-left: 20px;color:grey; ">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field" style="margin-left:20px">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label" style="margin-left: 20px; color: grey">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field" style="margin-left:20px">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <p style="margin-top:30px">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Inapoi", "Index", "Category", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
