﻿@model ColoursOfDance.Models.Categories

@{
    ViewBag.Title = "Stergere categorie";
}

<h2>Stergere categorie</h2>
<br />
<br />

<h4>Confirmati stergerea categoriei de dans?</h4>
<fieldset>
    <table class="table-bordered">
        
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
            </td>
            <td>
                <div class="display-field" style="width:500px">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
    <p style="margin-top:60px">
        <input type="submit" value="Sterge" class="btn btn-danger" /> 
        @Html.ActionLink("Inapoi", "Index", "Category", new { @class="btn btn-primary"})
    </p>
}
