﻿@model ColoursOfDance.Models.CategoryViewModel

<br />
<h1 class="text-center alert-info">Cursuri de dans</h1>

<div class="col-md-4">
    <h2 class="text-center alert-success">Alege curs</h2>
    <div id="categoriesAccordion">
        @foreach (var item in Model.Categories)
        {
            <h3 class="text-center alert-info">@item.Name</h3>
            <div>
                @foreach (var course in item.Courses)
                {
                    @Html.ActionLink(@course.Name, "Display", "Category", new { selectedCourse = course.IdCourse }, new { @class = "btn btn-success btn-block", @style = "margin:0px" })
                }
            </div>
        }
    </div>
</div>

<div class="col-md-8">
    @{
        var base64 = Convert.ToBase64String(Model.Course.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <h2 class="text-center alert-success">Informatii curs</h2>
    <img src="@imgSrc" style="width:100%" />
    <br />
    <b><p class="col-md-3 alert-danger">Descriere</p></b>
    <p class="col-md-9 alert-info">@Model.Course.Description</p>

    <b><p class="col-md-3 alert-danger">Ziua de desfasurare</p></b>
    <p class="col-md-9 alert-info">@Model.Course.DayOfWeek</p>

    <b><p class="col-md-3 alert-danger">Camera</p></b>
    <p class="col-md-9 alert-info">@Model.Course.Room</p>

    <b><p class="col-md-3 alert-danger">Ora</p></b>
    <p class="col-md-9 alert-info">@Model.Course.Hour</p>

</div>

