﻿@model ColoursOfDance.Models.Categories

@{
    ViewBag.Title = "Editare categorii";
}

<div class="edit_bg">
    <br />
    <h2 style="color:white; margin-left: 100px">Editare categorii de dans</h2>
    <div class="category_box_section">
        <br /><br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>


                <div class="editor-label">
                    @Html.LabelFor(model => model.IdCategory)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdCategory,new { @readonly="readonly" })
                    @Html.ValidationMessageFor(model => model.IdCategory)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">

                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <p style="margin-top:50px">
                    <input type="submit" value="Actualizeaza" class="btn btn-warning" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("Inapoi", "Index", "Category", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
