﻿@model IEnumerable<ColoursOfDance.Models.Categories>

@{
    ViewBag.Title = "Gestiunea stilurilor de dans";
}

<h2>Gestiunea stilurilor de dans</h2>




<table class="table table-bordered" style="margin-top:50px">
    <thead class="thead-inverse" style="background-color:#e7f4f6">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>@Html.ActionLink("Adauga categorie", "Create", "Category",new { @class = "btn btn-primary" })</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            
            <td style="width:100px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:400px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="width:70px">
                @Html.ActionLink("Editeaza", "Edit", "Category",new { id = item.IdCategory}, new { @class = "btn btn-warning" })
               
                @Html.ActionLink("Sterge", "Delete", "Category", new{  id = item.IdCategory},new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
