﻿@model ColoursOfDance.Models.Courses

@{
    ViewBag.Title = "Adaugare curs";
}

<div class="edit_bg">
  
    <h2 style="margin-left:100px;color:white">Adaugare curs</h2>
    <div class="courses_box_section">
        <br />
        @using (Html.BeginForm("Create", "Course", FormMethod.Post, new {enctype="multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <br />
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
             </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.DayOfWeek)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DayOfWeek)
                @Html.ValidationMessageFor(model => model.DayOfWeek)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Hour)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Hour)
                @Html.ValidationMessageFor(model => model.Hour)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Room)
            </div>
             <div class="editor-field">
                @Html.EditorFor(model => model.Room)
                @Html.ValidationMessageFor(model => model.Room)
            </div>

            
             <div class="editor-label">
                @Html.LabelFor(model => model.Categories.Name, new { @class = "editor-label" })
            </div>
            <div class="editor-field">
                @Html.DropDownList("IdCategory", (IEnumerable<SelectListItem>)ViewBag.IdCategory, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCategory)
            </div>
            
            <div style="margin-top:3px">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "control-label" } })
                <div class="col-md-10">
                    <input type="file" id="image2" name="image2"/>
                </div>
            </div>

        @Html.ActionLink("Inapoi", "Index", "Course", new { @class = "btn btn-primary" })
        <input type="submit" value="Creeaza curs" class="btn btn-success" />
   
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
