﻿@model ColoursOfDance.Models.Courses

@{
    ViewBag.Title = "Stergere curs";
}

<h2>Stergere curs de dans</h2>

<br /><br />
<h4>Confirmati stergerea acestui curs de dans?</h4>

<fieldset>
    
    <table class="table-bordered">
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.IdCourse)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.IdCourse)
                </div>
            </td>
        </tr> 
        <tr>

            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Categories.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Categories.Name)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <br />
        <input type="submit" value="Sterge" class="btn btn-danger"/> 
        @Html.ActionLink("Inapoi", "Index", "Course",new { @class = "btn btn-primary" })
    </p>
}
