﻿@model ColoursOfDance.Models.Courses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Courses</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCourse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCourse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Categories.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Categories.Name)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Editeaza", "Edit", "Course", new { id=Model.IdCourse, @class="btn btn-primary" }) |
    @Html.ActionLink("Inapoi", "Index", "Course", new { id = Model.IdCourse })
</p>
