﻿@model ColoursOfDance.Models.Courses

@{
    ViewBag.Title = "Editare curs";
}


<div class="edit_bg">
    <h2 style="color: white;margin-left:100px">Editare curs</h2>
    <div class="courses_box_section">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <fieldset>
                <div class="editor-label">
                    <br />
                    @Html.LabelFor(model => model.IdCourse)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdCourse, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.IdCourse)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IdCategory, "Categorie")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("IdCategory", String.Empty)
                    @Html.ValidationMessageFor(model => model.IdCategory)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DayOfWeek)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DayOfWeek)
                    @Html.ValidationMessageFor(model => model.DayOfWeek)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Room)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Room)
                    @Html.ValidationMessageFor(model => model.Room)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Hour)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Hour)
                    @Html.ValidationMessageFor(model => model.Hour)
                </div>
                @*
    <div style="margin-top:3px">
        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "control-label" } })
        <div class="col-md-10">
            <input type="file" id="image2" name="image2" />
        </div>
    </div>
*@
            </fieldset>
            <div>
                <br />
                @Html.ActionLink("Inapoi", "Index", "Course", new { @class = "btn btn-primary" })
                <input type="submit" value="Actualizeaza" class="btn btn-warning" />

            </div>
        }


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
