﻿@model ColoursOfDance.Models.CourseViewModel

@{
    ViewBag.Title = "Gestiune cursuri";
}

<h2>Gestiune cursuri</h2>
<br />

@Scripts.Render("https://www.gstatic.com/charts/loader.js")
<br />
<table class="table table-bordered" style="margin-top:30px">
    <thead class="thead-inverse" style="background-color:#e7f4f6">
        <tr>
            <th>Denumire curs</th>
            <th>Denumire categorie</th>
            <th>Ziua saptamanii</th>
            <th>Sala</th>
            <th>Ora</th>
            <th>@Html.ActionLink("Adauga curs", "Create", "Course", new { @class = "btn btn-primary" })</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.IdCourse == ViewBag.CourseId)
            {
                selectedRow = "active";
            }
            <tr class=@selectedRow>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Categories.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>

                <td>
                    @Html.ActionLink("Studenti inscrisi", "Index", "Course", new { id = item.IdCourse }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Editeaza curs", "Edit", "Course", new { id = item.IdCourse }, new { @class = "btn btn-warning" })

                    @Html.ActionLink("Sterge curs", "Delete", "Course", new { id = item.IdCourse }, new { @class = "btn btn-danger" })

                </td>
            </tr>
         }
    </tbody>
</table>

@if (Model.Students != null)
{
    if (Model.Students.Count() == 0)
    {
        <h3 class="text-center alert-danger">Niciun student inscris</h3>
    }
    else
    {
        <h3 class="text-center alert-info">Studenti inscrisi</h3>
        <table class="table table-bordered" style="width:900px">
            <thead class="thead-inverse" style="background-color:#e7f4f6">
                <tr>
                    <th>Nume</th>
                    <th>Varsta</th>
                    <th>Telefon</th>
                    <th>Email</th>
                </tr>
            </thead>

            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        </table>
    }
}

<div id="piechart_3d" style="width: 900px; height: 450px; margin-left:140px;"></div>
