﻿@model ColoursOfDance.Models.Events

@{
    ViewBag.Title = "Adaugare eveniment";
}

<div class="edit_bg">

    <br />
    <br />
    <div class="courses_box_section">
        <h2 style="color:white;margin-left:100px">Adaugare eveniment</h2>
        @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>

                <br />

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-sm-4" })
                    @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Location, new { @class = "control-label col-sm-4" })
                    @Html.EditorFor(model => model.Location, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Location)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Link, new { @class = "control-label col-sm-4" })
                    @Html.EditorFor(model => model.Link, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Link)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "control-label col-sm-4" })
                    @Html.TextBoxFor(model => model.Date, new { id = "eventDatePicker", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartHour, new { @class = "control-label col-sm-4" })
                    @Html.EditorFor(model => model.StartHour, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartHour)
                </div>

                <br />
                <p style="margin-top:20px">
                    <input type="submit" value="Adauga" class="btn btn-primary" style="margin-left:130px;" />
                    @Html.ActionLink("Inapoi", "Index", "Event", new { @class = "btn btn-primary" })
                </p>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
