﻿@model IEnumerable<ColoursOfDance.Models.Events>

@{
    ViewBag.Title = "Gestiune evenimente";
}

<h2>Gestiune evenimente</h2>

<table class="table table-bordered" style="width:700px; margin-top:60px">
    <thead class="thead-inverse" style="background-color:#e7f4f6">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>

        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>

        <td>
            <img src=@item.Link style="width:70px"/>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>

        @*
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>

*@
    </tr>
}

</table>

<p style="margin-top:30px">
    @Html.ActionLink("Adauga eveniment", "Create", "Event", new { @class = "btn btn-primary" })
</p>
