﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="newsletter.aspx.cs" Inherits="ColoursOfDance.newsletter1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>HTML mail</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       Name: <asp:TextBox ID="txtName" runat="server"></asp:TextBox><br />
       Email-ID: <asp:TextBox ID="txtEmail" runat="server"></asp:TextBox><br />
        <asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click"/>
    </div>
    </form>
</body>
</html>

