﻿<head id="Head1" runat="server">
    <title>Newslatter</title>
</head>
<body>
    <form id="form1" runat="server">
    <div align="center" style="margin-top:100px">
         
        <asp:FileUpload ID="attach_file" runat="server" />
         
<asp:label ID="lbl_msg" runat="server" text=""></asp:label>
        <br />
        <br />
        <asp:Button ID="send" runat="server" onclick="send_Click" Text="send" />
        </div>
    </form>
</body>
