﻿

<!DOCTYPE html>

<html>
<head> 
    <meta name="viewport" content="width=device-width" />
    <title>ceva</title>
</head>
<body>
    <div style="border-style:double;color:#0094ff;background-color:#d3f2ed";>
        <p>ceva</p>
    </div>
</body>
</html>
