﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Colour of Dance</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CSS/simple-sidebar.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/CSS/navbar.css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/CSS/Home.css")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.1.js")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href=@Url.Action("Index","Home")>
                        <img src="~/Content/Images/logo.png" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><button class="btn btn-primary" onclick="location.href='@Url.Action("About", "Home" )'">Despre</button></li>
                    <li><button class="btn btn-success" onclick="location.href='@Url.Action("Display", "Category" )'">Cursuri</button></li>
                    <li><button class="btn btn-info" onclick="location.href='@Url.Action("Upcoming", "Event" )'">Evenimente</button></li>
                    <li><button class="btn btn-warning" onclick="location.href='@Url.Action("Create","Student")'">Inscrie-te</button></li>
                    <li><button class="btn btn-danger" onclick="location.href='@Url.Action("Contact", "Home" )'">Contact</button></li>

                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name.Equals("Simi"))
                            {
                                <li><button class="btn btn-primary" onclick="location.href='@Url.Action("Meniu", "Home" )'">Meniu</button></li>
                            }
                        }

                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <br />
        <div class="container body-content">
            
                @RenderBody()
            @*
                <footer class="container body-content">
                    <p>&copy; @DateTime.Now.Year - Colours of Dance</p>
                </footer>

            *@
            <hr />
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/animations.js")


        @RenderSection("scripts", required: false)
    </body>
</html>