﻿@if (Request.IsAuthenticated) {
    <div class="nav navbar-nav navbar-right" >
        @*Buna, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "", title = "Manage" })! *@
        <br />
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-warning">Deconectati-va</a>
        }
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-default" id ="registerLink" onclick="location.href='@Url.Action("Register", "Account" )'">Inregistrare</button></li>
        <li><button class="btn btn-default" id="loginLink" onclick="location.href='@Url.Action("Login", "Account" )'">Autentificare</button></li>
    </ul>
}
