﻿@model ColoursOfDance.Models.StudentViewModel
<div style="background-image: url(../Content/Images/add_category_bg.jpg); background-size: 100% auto; background-repeat: no-repeat; height:500px">
    <br />

    <div class="courses_box_section">
        <h2 style="margin-left: 100px;  color:white">Inscriere student nou</h2>
        <div class="offset4">
            @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Student.Name, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.Student.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Student.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Student.Age, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.Student.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Student.Age)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Student.Phone, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.Student.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Student.Phone)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Student.Email, new { @class = "control-label col-sm-4" })
                        @Html.EditorFor(model => model.Student.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Student.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Courses, new { @class = "control-label col-sm-4" })
                        @Html.ListBoxFor(model => model.selectedCourses, Model.Courses, new { @class = "multiselect-container", data_placeholder = "Alegeti cursurile..." })
                    </div>

                    <input type="submit" value="Creeaza" class="btn btn-primary center-block" style="margin-left:130px" />
                    @Html.ActionLink("Inapoi", "Index", "Student", new { @class = "btn btn-primary" })
                </fieldset>
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
