﻿@model ColoursOfDance.Models.Students

@{
    ViewBag.Title = "Stergere cursant";
}

<h2>Stergere cursant</h2>
<br /><br />
<h4>Confirmati stergerea acestui cursant?</h4>
<br />
<br />
<fieldset>

    <table class="table-bordered">
        <tr>
            <td>
                <div class="display-label">
                     @Html.DisplayNameFor(model => model.IdStudent)
                </div>
             </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.IdStudent)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>         
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Age)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Age)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Phone)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </td>
        </tr>
      </table>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p style="margin-top:40px">
        <input type="submit" value="Sterge" class="btn btn-danger"  /> 
        @Html.ActionLink("Inapoi", "Index", "Student", new {@class="btn btn-primary"})
    </p>
}
