﻿@model ColoursOfDance.Models.Students

@{
    ViewBag.Title = "Editare informatii cursant";
}

<h2>Edit</h2>

<div class="edit_bg">
    <h2 style="color: white;margin-left:100px">Editare cursant</h2>
    <div class="courses_box_section">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
             <br />
                <div class="editor-label">
                    @Html.LabelFor(model => model.IdStudent)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdStudent, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.IdStudent)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Age)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Age)
                    @Html.ValidationMessageFor(model => model.Age)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div>
                    <br />
                    <input type="submit" value="Actualizeaza" class="btn btn-warning" />
                     @Html.ActionLink("Inapoi", "Index", "Student", new { @class = "btn btn-primary" })
                </div>
            </fieldset>
        }
   
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
