﻿@model IEnumerable<ColoursOfDance.Models.Students>

@{
    ViewBag.Title = "Index";
}

<h2>Gestiune cursanti</h2>

<table class="table table-bordered" style="width:900px">
    <thead class="thead-inverse" style="background-color:#e7f4f6">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.ActionLink("Adauga cursant", "Create", "Student", "", new { @class = "btn btn-primary"})
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editeaza", "Edit", new { id = item.IdStudent }, new { @class="btn btn-warning"}) 
                @Html.ActionLink("Sterge", "Delete", new { id = item.IdStudent }, new { @class="btn btn-danger"})
            </td>
        </tr>
    }

</table>
